fastapi==0.104.1
fastapi_mail==1.4.1
fastapi_mqtt==2.0.0
pydantic==2.5.2
python-dotenv==1.0.0
Requests==2.31.0
SQLAlchemy==2.0.23
uvicorn==0.24.0.post1
asposestorage==1.0.2
typing_extensions==4.8.0
psycopg2==2.9.7