<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        {% include 'header.html'%}
        
        {% set estados_generales_str = {
            0: "available",
            1: "reserved",
            2: "loading",
            3: "used",
            4: "unloading"
        } %}



        {% for station in stations %}
        <div class="container-xl w-75 text-center mb-4">
            <button class="toggle-button" data-target="station-{{ station[0] }}">Toggle Station {{ station[0] }}</button>
            <div id="station-{{ station[0] }}" class="station-info" style="display: none;">
                <h4 class="text-center mb-4">Estación {{ station[0] }}</h4>
                <h5 class="text-center mb-4">Porcentaje de ocupación {{station_usage[station[0]]}}%</h5>
                
                <h5 class="text-center mb-4">Datos actuales</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID Casillero</th>
                            <th scope="col">Estado Actual</th>
                            <th scope="col">Alto</th>
                            <th scope="col">Ancho</th>
                            <th scope="col">Profundidad</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for locker in lockers %}
                            {% if locker[7] == station[0] %}
                            
                            
                            <tr>
                            
                                <th scope="row">{{ locker[0] }}</th>
                                {% if time_elapsed_since_reservations[locker[0]]>= 432000 or time_elapsed_since_loads[locker[0]] >= 259200 %}
                                    <td style="background-color: red;">{{ estados_generales_str[locker[2]] }}</td>
                                {% else %}
                                    <td >{{ estados_generales_str[locker[2]] }}</td>
                                {% endif %}
                                <td>{{ locker[3] }}</td>
                                <td>{{ locker[4] }}</td>
                                <td>{{ locker[5] }}</td>
                                
                                
                            </tr>
                            
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <h5 class="text-center mb-4">Datos históricos</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID Casillero</th>
                            <th scope="col">Accion Realizada</th>
                            <th scope="col">Fecha</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for locker in historial %}
                            {% if locker[4] == station[0] %}
                            
                            
                            <tr>
                                <th scope="row">{{ locker[3] }}</th>
                                <td>{{ locker[7] }}</td>
                                <td>{{ locker[5] }}</td>
                                
                                
                            </tr>
                            {% endif %}
                            
                            
                        {% endfor %}
                    </tbody>
                </table>
                <h5 class="text-center mb-4">Tiempos Promedio</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID Casillero</th>
                            <th scope="col">Tiempo entre reservas y cargas (dd:hh:mm:ss)</th>
                            <th scope="col">Tiempo entre cargas y descargas (dd:hh:mm:ss)</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for locker in lockers %}
                            {% if locker[7] == station[0] %}
                        <tr>
                            <th scope="row">{{locker[0]}}</th>
                            {% if locker[0] not in time_between_reservations_and_loads %}
                                <td>N/a</td>
                            {% else %}
                                <td>{{time_between_reservations_and_loads[locker[0]]}}</td>
                            {% endif %}
                            {% if locker[0] not in time_between_loads_and_unloads %}
                                <td>N/a</td>
                            {% else %}
                                <td>{{time_between_loads_and_unloads[locker[0]]}}</td>
                            {% endif %}

                        </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        {% endfor %}

        {{time_between_reservations_and_loads}}
        {{time_between_loads_and_unloads}}
        
        {% include 'footer.html'%}

        <script>
            document.addEventListener("DOMContentLoaded", function () {
            let reservas = '{{reservas}}'
            console.log(reservas)
            var buttons = document.querySelectorAll(".toggle-button");

            buttons.forEach(function (button) {
                button.addEventListener("click", function () {
                    var targetId = this.getAttribute("data-target");
                    var target = document.getElementById(targetId);

                    if (target.style.display === "none") {
                        target.style.display = "block";
                    } else {
                        target.style.display = "none";
                    }
                });
            });
            });



            document.addEventListener("DOMContentLoaded", function () {
                var ctx = document.getElementById('myChart').getContext('2d');
                
                var data = {
                    labels: ['Label 1', 'Label 2', 'Label 3'],
                    datasets: [{
                        label: 'My Dataset',
                        data: [10, 20, 30],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                        ],
                        borderWidth: 1
                    }]
                };
        
                var options = {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                };
        
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: options
                });
            });
        </script>
        
        
    </body>
</html>