<body class="d-flex flex-column min-vh-100">
    <div class="container-fluid bg-dark text-white mt-auto">
        <footer class="py-3 my-4 text-white">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3 text-white">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="/estado_casilleros/" class="nav-link px-2 text-white">Estados Casilleros</a></li>
            <li class="nav-item"><a href="/reservas/" class="nav-link px-2 text-white">Reservas</a></li>
            <li class="nav-item"><a href="/dashboard/" class="nav-link px-2 text-white">Dashboard</a></li>
            <li class="nav-item"><a href="/docs/" class="nav-link px-2 text-white">Endpoints</a></li>
        </ul>
        <p class="text-center">© PDS2023, GRUPO1</p>
        </footer>
    </div>
</body>