<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Buscar bitácora</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'header.html'%}
        <h4 class="text-center mb-4">Reservas</h4>
         <div class="container-xl w-75 text-center mb-4"> 
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID Reserva</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha creacion</th>
                        <th scope="col">Estación</th>
                        <th scope="col">Locker</th>
                        <th scope="col">Ver Bitácora</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                        <tr>
                            <td>{{ reserva[0] }}</td>
                            <td>{{ reserva[7] }}</td>
                            <td>{{ reserva[6].strftime('%d/%m/%y - %H:%M') }}</td>
                            <td>{{ reserva[5] }}</td>
                            <td>{{ reserva[4] }}</td>
                            <td><a href="/bitacora/?reservation_id={{reserva[0]}}" class="btn btn-primary">Ver</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'footer.html'%}
    </body>
</html>